{% extends "base.html" %}
{% block content %}

<div class="container">
    <form {% if club %} action="/update-club/{{ club.id }}" {% else %} action="/save-club" {% endif %} method="post">
        <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
            <input type="text" name="title" class="form-control"
                    {% if club %} value="{{ club.title }}" {% endif %}
                   id="title" placeholder="Dynamo">
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location:</label>
            <input type="text" name="location" class="form-control"
                    {% if club %} value="{{ club.location }}" {% endif %}
                   id="location" placeholder="Kyiv">
        </div>
        {% if employees %}
        <select class="form-select" multiple name="employees" aria-label="Default select example">
            <option selected>Open this select menu</option>
            {% for employee in employees %}
                <option value="{{ employee.id }}"
                {% if club %}
                    {% for club_employee in club.employees %}
                        {% if employee.id ==  club_employee.id%}
                            selected
                        {% endif %}
                    {% endfor %}
                {% endif %}>
                {{ employee.first_name }} {{ employee.last_name}}</option>
            {% endfor %}
        </select>
        {% endif %}
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Submit</button>
        </div>
    </form>
</div>

{% endblock %}
