
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">FC App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse custom-menu-items" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/add-club">Add Club</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/employees">Employees</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/add-employee">Add Employee</a>
                    </li>
        {#              <li class="nav-item">#}
        {#                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>#}
        {#                </li>#}
                </ul>
            </div>
            <div>
                {% if user %}
                    {{ user.first_name }} {{ user.last_name}}
                {% else %}
                    <a class="btn btn-primary" href="/sign-up" role="button">Sign Up</a>
                {% endif %}
            </div>
    </div>
</nav>