{% extends "base.html" %}

{% block aditional_style %} 
<link rel="stylesheet" href="/static/css/sign-up.css"
{% endblock %}

{% block content %}
<div class="sign-up-form">
<section class="wrapper">
    <div class="form signup">
      <header>Sign Up</header>
      <form action="#">
        <input type="text" class="form-control" name="first_name" id="first_name" placeholder="First name" required />
        <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last name" required />
        <input type="email" class="form-control" name="email" id="email" placeholder="Email address" required />
        <input type="text" class="form-control" name="user_name" id="user_name" placeholder="Username" required />
        <input type="password" placeholder="Password" required />
        <div class="checkbox">
          <input type="checkbox" id="signupCheck" />
          <label for="signupCheck">I accept all terms & conditions</label>
        </div>
        <input type="submit" value="Signup" />
      </form>
    </div>
    <div class="form login">
      <header>Sign In</header>
      <form action="#">
        <input type="text" placeholder="Email address" required />
        <input type="password" placeholder="Password" required />
        <a href="#">Forgot password?</a>
        <input type="submit" value="Login" />
      </form>
    </div>
    <script>
      const wrapper = document.querySelector(".wrapper"),
        signupHeader = document.querySelector(".signup header"),
        loginHeader = document.querySelector(".login header");
      loginHeader.addEventListener("click", () => {
        wrapper.classList.add("active");
      });
      signupHeader.addEventListener("click", () => {
        wrapper.classList.remove("active");
      });
    </script>
  </section>
</div>

{% endblock %}
